.my-3{
    height: 0.2cm;
}
.resume{
    border: 0.1px solid rgba(0, 0, 0, 0.434);
    padding: 0cm !important;
    padding-bottom: 2cm !important;
    height: 20cm;
}
.ptr-btn{
    margin-top: 70cm;
}


