.App{
    color: "#ffffff" !important;
    background-color: "#010409" !important;
}
.text-color{
    color: "#ffffff" !important;
}
.font_xxl{
    font-size: 50px !important;
}
.font_xl{
    font-size: 32px !important;
}
.font_l{
    font-size: 28px !important;
}
.font_m{
    font-size: 22px !important;
}
.font_s{
    font-size: 18px !important;
}
.font_xs{
    font-size: 12px !important;
}
.font_xxs{
    font-size: 9px !important;
}